thex-to-bin.v12.suo
thex-to-bin/bin/
thex-to-bin/obj/Debug/DesignTimeResolveAssemblyReferences.cache
thex-to-bin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
thex-to-bin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
thex-to-bin/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
thex-to-bin/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
thex-to-bin/obj/Debug/thex-to-bin.csproj.FileListAbsolute.txt
thex-to-bin/obj/Debug/thex-to-bin.csproj.GenerateResource.Cache
thex-to-bin/obj/Debug/thex-to-bin.csprojResolveAssemblyReference.cache
thex-to-bin/obj/Debug/thex-to-bin.exe
thex-to-bin/obj/Debug/thex-to-bin.pdb
thex-to-bin/obj/Debug/thex_to_bin.FormMain.resources
thex-to-bin/obj/Debug/thex_to_bin.Properties.Resources.resources
